@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #F7F8FA;
}

body .banner-home {
  width: 100wh;
  height: 20.3rem;
  background-image: url("../assets/img/banner.png");
  background-position: center;
  padding: 20px;
  position: relative;
}

body .banner-home h1 {
  color: #fff;
  font-family: "Roboto Slab", serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 80px;
}

body .banner-home p {
  font-family: "Roboto", serif;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 25px;
  font-weight: 400;
}

body header {
  width: 100%;
  height: 7.7vh;
  position: fixed;
  z-index: 100000;
  top: 0;
}

body header .box-menu {
  width: 100%;
  height: inherit;
  background-color: #369E1E;
  padding: 0 10px;
}

body header .box-menu .menu-lateral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: inherit;
  float: left;
}

body header .box-menu .menu-lateral i {
  cursor: pointer;
  font-size: 1.3rem;
  color: #fff;
  text-align: left;
}

body header .box-menu .menu-logo {
  max-width: 45%;
  height: inherit;
  float: left;
  overflow: hidden;
}

body header .box-menu .menu-logo img {
  width: 7.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 11px;
  padding-left: 3px;
  z-index: 10;
}

body header .box-menu .menu-btn {
  max-width: 45%;
  height: inherit;
  float: right;
  padding-right: 10px;
  z-index: 5;
}

body header .box-menu .menu-btn button {
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  float: right;
  outline: none;
  padding: 7px 10px;
  font-size: .75rem;
  font-family: "Roboto", serif;
  font-weight: 500;
  background-color: #369E1E;
  margin-top: 11px;
}

body header .menu-lateral-show {
  width: 100vw;
  height: 90.5vh;
  background-color: #FFF;
  position: relative;
  left: -5000%;
  z-index: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body header .menu-lateral-show ul {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px 15px;
}

body header .menu-lateral-show ul li:not(:first-child) {
  padding-top: 20px;
}

body header .menu-lateral-show ul a {
  font-family: "Roboto", serif;
  text-transform: uppercase;
  font-size: .8rem;
  text-decoration: none;
  color: #333;
}

body header .menu-lateral-show .btn-menu-lateral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body header .menu-lateral-show .btn-menu-lateral button {
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  padding: 15px 0;
  display: block;
  width: 450%;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #fcfcfc;
  color: #333;
  -webkit-box-shadow: 2px 2px 15px #eeecec;
          box-shadow: 2px 2px 15px #eeecec;
  font-size: .75rem;
}

body header .menu-lateral-show .btn-menu-lateral .btn-lateral-style {
  background-color: #7CC33E;
  color: #fff;
}

body header .show {
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

body header .box-menu-desktop {
  display: none;
}

body main {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 40px;
}

body main .container {
  margin-bottom: 100px;
}

body main .container .box-legenda {
  width: inherit;
  height: 300px;
}

body main .container .box-legenda h6 {
  text-transform: uppercase;
  padding-top: 55px;
  font-size: .8rem;
  font-weight: bold;
}

body main .container .box-legenda ul {
  padding-left: 0;
  width: 100%;
}

body main .container .box-legenda ul li .icone-star {
  font-size: 1.2rem;
  float: left;
  padding-top: 3px;
  padding-right: 8px;
  color: #369E1E;
}

body main .container .box-legenda ul li .icone-info {
  font-size: 1.2rem;
  float: left;
  padding-top: 3px;
  padding-right: 8px;
  color: #369E1E;
  border: 1px solid #fff;
}

body main .container .box-legenda ul li p {
  font-size: .8rem;
}

body main .container .box-busca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .container .box-busca #buscaFundo {
  cursor: pointer;
  width: 92%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid #333;
  position: relative;
}

body main .container .box-busca #buscaFundo:focus {
  outline: none;
  border-bottom: 2.5px solid #25B7BA;
}

body main .container .box-busca label {
  display: block;
  width: 100%;
  font-size: .7rem;
  padding-left: 15px;
  padding-top: 8px;
}

body main .container .box-info-fundos {
  background-color: #fff;
  overflow: hidden;
  margin-top: 20px;
  background-color: #F7F8FA;
}

body main .container .box-info-fundos a {
  cursor: pointer;
  float: left;
  display: block;
  color: #000;
  text-align: center;
  font-family: "Roboto", serif;
  text-transform: uppercase;
  padding: 14px 16px;
  text-decoration: none;
  font-size: .8rem;
}

body main .container .box-display-fundos {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 40px;
  padding: 10px;
}

body main .container .box-display-fundos .box-item-fundo {
  font-family: "Roboto", serif;
  border-bottom: 1px solid #eeeeee;
  padding-top: 40px;
  padding-bottom: 20px;
}

body main .container .box-display-fundos .box-item-fundo .wrap-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body main .container .box-display-fundos .box-item-fundo .wrap-titulo .titulo-fundo {
  width: 90%;
  font-size: .9rem;
}

body main .container .box-display-fundos .box-item-fundo .wrap-titulo .status-fundo {
  display: block;
  width: 16px;
  height: 15px;
  background-color: red;
  border-radius: 3px;
}

body main .container .box-display-fundos .box-item-fundo .subtitulo-fundo {
  font-size: .8rem;
  color: #969696;
  padding-top: 5px;
}

body main .container .box-display-fundos .box-item-fundo .box-item-info-fundos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: .8rem;
  font-weight: bold;
}

body main .container .box-display-fundos .box-item-fundo .box-item-info-fundos .right-row {
  width: 50%;
  text-align: left;
}

body main .container .box-display-fundos .box-item-fundo .box-item-info-fundos .left-row {
  width: 50%;
  text-align: right;
  font-weight: 400;
}

body main .container .box-display-fundos .box-item-fundo .box-info-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

body main .container .box-display-fundos .box-item-fundo .box-info-button button {
  width: 47%;
  padding: 7px 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: bolder;
}

body main .container .box-display-fundos .box-item-fundo .box-info-button :first-child {
  color: #25B7BA;
  background-color: #fff;
  border: 2px solid #25B7BA;
}

body main .container .box-display-fundos .box-item-fundo .box-info-button :last-child {
  background-color: #25B7BA;
  color: #fff;
  border: 2px solid #25B7BA;
}

body main .box-abra-sua-conta {
  width: 100%;
  height: 45px;
  position: fixed;
  bottom: 0;
  background-color: #369E1E;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

body main .box-abra-sua-conta :first-child {
  font-size: .8rem;
  margin-bottom: 0;
  padding-top: 5px;
}

body main .box-abra-sua-conta :last-child {
  font-size: .7rem;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media (min-width: 430px) {
  /* smartphones, Android phones, landscape iPhone */
  body header .box-menu .menu-logo img {
    width: 12rem;
    padding-left: 17px;
    margin-top: 5px;
  }
  body header .box-menu .menu-btn button {
    padding: 9px 15px;
  }
}

@media (min-width: 482px) {
  body .banner-home h1 {
    font-size: 3rem;
  }
  body .banner-home p {
    font-size: 1.4rem;
    font-weight: lighter;
  }
}

@media (min-width: 791px) {
  body .banner-home {
    position: relative;
  }
  body header {
    display: block;
    width: 98%;
    height: 7vh;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  body header .box-menu {
    display: none;
  }
  body header .box-menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    overflow: hidden;
  }
  body header .box-menu-desktop .box-menu-desktop-logo {
    width: 15%;
    height: inherit;
    float: left;
    margin-left: 0;
  }
  body header .box-menu-desktop .box-menu-desktop-logo img {
    margin-top: 15px;
    width: 7rem;
  }
  body header .box-menu-desktop .menu-desktop {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: inherit;
    margin-left: 0;
    margin-top: 40px;
  }
  body header .box-menu-desktop .menu-desktop nav ul {
    padding-left: 0;
  }
  body header .box-menu-desktop .menu-desktop nav ul li {
    display: inline-block;
  }
  body header .box-menu-desktop .menu-desktop nav ul li a {
    font-family: "Roboto", serif;
    font-size: .8rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding-right: 10px;
  }
  body header .box-menu-desktop .box-menu-desktop-btn {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
  body header .box-menu-desktop .box-menu-desktop-btn button {
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 48%;
    outline: none;
    padding: 7px 10px;
    font-size: .6rem;
    font-family: "Roboto", serif;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    margin-right: 5px;
  }
  body header .box-menu-desktop .box-menu-desktop-btn :last-child {
    background-color: #369E1E;
    color: #fff;
    float: right;
  }
}

@media (min-width: 950px) {
  body header .box-menu-desktop .box-menu-desktop-logo {
    width: 15%;
    height: inherit;
    float: left;
    margin-left: 0;
  }
  body header .box-menu-desktop .box-menu-desktop-logo img {
    margin-top: 12px;
    width: 8.5rem;
  }
  body header .box-menu-desktop .menu-desktop {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: inherit;
    margin-left: 0;
    margin-top: 40px;
  }
  body header .box-menu-desktop .menu-desktop nav ul {
    padding-left: 0;
  }
  body header .box-menu-desktop .menu-desktop nav ul li {
    display: inline-block;
  }
  body header .box-menu-desktop .menu-desktop nav ul li a {
    font-size: .9rem;
    padding-right: 10px;
  }
  body header .box-menu-desktop .box-menu-desktop-btn {
    width: 300px;
    padding-right: 4px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .box-menu-desktop .box-menu-desktop-btn button {
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 20px;
    margin-right: 5px;
    color: #000;
    font-size: .7rem;
  }
  body header .box-menu-desktop .box-menu-desktop-btn :last-child {
    padding: 10px 35px;
  }
}

@media (min-width: 1200px) {
  body header .box-menu-desktop {
    width: 1200px;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
/*# sourceMappingURL=style.css.map */