@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

$font-padrao: 'Roboto',
serif;
$font-titulo:'Roboto Slab',
serif;
$cor-padrao: #369E1E;
$cor-secundaria: #fff;
$cor-terciaria:#F7F8FA;
$cor-destaque:#25B7BA;
// cores termina aqui
//
//
@mixin displayFlex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn {
    border: 1px solid $cor-secundaria;
    border-radius: 4px;
    color: $cor-secundaria;
    text-transform: uppercase;
}

body {
    background-color: #F7F8FA;
    .banner-home {
        width: 100wh;
        height: 20.3rem;
        background-image: url("../assets/img/banner.png");
        background-position: center;
        padding: 20px;
        position: relative;
        h1 {
            color: $cor-secundaria;
            font-family: $font-titulo;
            text-align: center;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 400;
            margin-top: 80px;
        }
        p {
            font-family: $font-padrao;
            color: $cor-secundaria;
            font-size: 1.3rem;
            text-align: center;
            margin-top: 25px;
            font-weight: 400;
        }
    }
    header {
        width: 100%;
        height: 7.7vh;
        position: fixed;
        z-index: 100000;
        top: 0;
        .box-menu {
            width: 100%;
            height: inherit;
            background-color: #369E1E;
            padding: 0 10px;
            .menu-lateral {
                @include displayFlex();
                width: 30px;
                height: inherit;
                float: left;
                i {
                    cursor: pointer;
                    font-size: 1.3rem;
                    color: #fff;
                    text-align: left;
                }
            }
            .menu-logo {
                max-width: 45%;
                height: inherit;
                float: left;
                overflow: hidden;
                img {
                    width: 7.5rem;
                    object-fit: contain;
                    margin-top: 11px;
                    padding-left: 3px;
                    z-index: 10;
                }
            }
            .menu-btn {
                max-width: 45%;
                height: inherit;
                float: right;
                padding-right: 10px;
                z-index: 5;
                button {
                    @include btn();
                    outline: none;
                    float: right;
                    outline: none;
                    padding: 7px 10px;
                    font-size: .75rem;
                    font-family: $font-padrao;
                    font-weight: 500;
                    background-color: $cor-padrao;
                    margin-top: 11px;
                }
            }
        }
        .menu-lateral-show {
            width: 100vw;
            height: 90.5vh;
            background-color: #FFF;
            position: relative;
            left: -5000%;
            z-index: 1;
            transition: all .5s;
            ul {
                width: 100%;
                height: fit-content;
                padding: 8px 15px;
                li:not(:first-child) {
                    padding-top: 20px;
                }
                a {
                    font-family: $font-padrao;
                    text-transform: uppercase;
                    font-size: .8rem;
                    text-decoration: none;
                    color: #333;
                }
            }
            .btn-menu-lateral {
                @include displayFlex();
                position: absolute;
                bottom: 0;
                width: 100%;
                height: fit-content;
                button {
                    @include btn;
                    outline: none;
                    padding: 15px 0;
                    display: block;
                    width: 450%;
                    text-transform: uppercase;
                    font-weight: 500;
                    background-color: #fcfcfc;
                    color: #333;
                    box-shadow: 2px 2px 15px rgb(238, 236, 236);
                    font-size: .75rem;
                }
                .btn-lateral-style {
                    background-color: #7CC33E;
                    color: $cor-secundaria;
                }
            }
        }
        .show {
            left: 0;
            transition: all .2s;
        }
        .box-menu-desktop {
            display: none; // menu para desktop (substitui o mneu lateral)
        }
    }
    main {
        width: 100%;
        height: fit-content;
        position: relative;
        top: 40px;
        .container {
            margin-bottom: 100px;
            .box-legenda {
                width: inherit;
                height: 300px;
                h6 {
                    text-transform: uppercase;
                    padding-top: 55px;
                    font-size: .8rem;
                    font-weight: bold;
                }
                ul {
                    padding-left: 0;
                    width: 100%;
                    li {
                        .icone-star {
                            font-size: 1.2rem;
                            float: left;
                            padding-top: 3px;
                            padding-right: 8px;
                            color: $cor-padrao;
                        }
                        .icone-info {
                            font-size: 1.2rem;
                            float: left;
                            padding-top: 3px;
                            padding-right: 8px;
                            color: $cor-padrao;
                            border: 1px solid #fff
                        }
                        p {
                            font-size: .8rem;
                        }
                    }
                }
            }
            .box-busca {
                @include displayFlex();
                width: 100%;
                height: 100px;
                background-color: #fff;
                border-radius: 5px;
                flex-direction: column;
                #buscaFundo {
                    cursor: pointer;
                    width: 92%;
                    border-top-style: hidden;
                    border-right-style: hidden;
                    border-left-style: hidden;
                    border-bottom: 1px solid #333;
                    position: relative;
                }
                #buscaFundo:focus {
                    outline: none;
                    border-bottom: 2.5px solid $cor-destaque;
                }
                label {
                    display: block;
                    width: 100%;
                    font-size: .7rem;
                    padding-left: 15px;
                    padding-top: 8px;
                }
            }
            .box-info-fundos {
                background-color: $cor-secundaria;
                overflow: hidden;
                margin-top: 20px;
                background-color: #F7F8FA;
                a {
                    cursor: pointer;
                    float: left;
                    display: block;
                    color: #000;
                    text-align: center;
                    font-family: $font-padrao;
                    text-transform: uppercase;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: .8rem;
                }
            }
            .box-display-fundos {
                height: fit-content;
                background-color: #fff;
                border-radius: 5px;
                margin-top: 40px;
                padding: 10px;
                .box-body-left-side {
                    .box-item-fundo {
                        width: 80%;
                        font-family: $font-padrao;
                        border-bottom: 1px solid rgb(238, 238, 238);
                        padding-top: 40px;
                        padding-bottom: 20px;
                        .wrap-titulo {
                            @include displayFlex();
                            width: 100%;
                            .titulo-fundo {
                                width: 90%;
                                font-size: .9rem;
                            }
                            .status-fundo {
                                display: block;
                                width: 16px;
                                height: 15px;
                                background-color: red;
                                border-radius: 3px;
                            }
                        }
                        .subtitulo-fundo {
                            font-size: .8rem;
                            color: rgb(150, 150, 150);
                            padding-top: 5px;
                        }
                        .box-item-info-fundos {
                            @include displayFlex();
                            width: 100%;
                            flex-direction: row;
                            font-size: .8rem;
                            font-weight: bold;
                            .right-row {
                                width: 50%;
                                text-align: left;
                            }
                            .left-row {
                                width: 50%;
                                text-align: right;
                                font-weight: 400;
                            }
                        }
                        .box-info-button {
                            @include displayFlex();
                            justify-content: space-around;
                            width: 100%;
                            button {
                                width: 47%;
                                padding: 7px 5px;
                                border-radius: 5px;
                                text-transform: uppercase;
                                font-size: .9rem;
                                font-weight: bolder;
                            }
                             :first-child {
                                color: $cor-destaque;
                                background-color: #fff;
                                border: 2px solid $cor-destaque;
                            }
                             :last-child {
                                background-color: $cor-destaque;
                                color: #fff;
                                border: 2px solid $cor-destaque;
                            }
                        }
                    }
                }
            }
            .box-body-right-side {
                width: 33%;
                height: 600px;
                margin-top: 40px;
                .box-filtro-aplica-minimo {
                    width: 100%;
                    height: 120px;
                    background-color: #fff;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    text-align: center;
                    font-family: $font-padrao;
                     :first-child {
                        padding-top: 10px;
                        font-weight: 500;
                    }
                }
                .box-filtrar-estrategias {
                    width: 100%;
                    h6 {
                        font-family: $font-padrao;
                        padding-top: 20px;
                        font-weight: 400;
                    }
                    .dropdown {
                        width: 100%;
                        .dropbtn {
                            outline: none;
                            width: 100%;
                            margin-top: 10px;
                            padding: 10px;
                            background-color: #F7F8FA;
                            color: #000;
                            box-shadow: 1px 5px 6px rgb(231, 228, 228);
                            text-align: left;
                            text-transform: uppercase;
                            font-size: .8rem;
                            font-weight: 500;
                            margin-bottom: 15px;
                            input {
                                margin-right: 5px;
                            }
                        }
                        .dropdown-content {
                            width: 100%;
                            height: fit-content;
                            background-color: #FFFFFF;
                             :first-child {
                                border-top: none;
                            }
                            a {
                                width: 100%;
                                border-top: 1px solid #000;
                            }
                        }
                    }
                    .box-outros-filtros {
                        width: 100%;
                        height: fit-content;
                        background-color: #fff;
                        margin: 10px 10px;
                        @include displayFlex();
                        input {
                            width: 20%;
                            float: left;
                        }
                        .outro-filtro {
                            width: 70%;
                            float: right;
                        }
                    }
                }
            }
        }
    }
    .box-abra-sua-conta {
        width: 100%;
        height: 45px;
        position: fixed;
        bottom: 0;
        background-color: $cor-padrao;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
         :first-child {
            font-size: .8rem;
            margin-bottom: 0;
            padding-top: 5px;
        }
         :last-child {
            font-size: .7rem;
        }
    }
}

@media (min-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media (min-width:430px) {
    /* smartphones, Android phones, landscape iPhone */
    body header .box-menu .menu-logo img {
        width: 12rem;
        padding-left: 17px;
        margin-top: 5px;
    }
    body header .box-menu .menu-btn button {
        padding: 9px 15px;
    }
}

@media (min-width:482px) {
    body .banner-home h1 {
        font-size: 3rem;
    }
    body .banner-home p {
        font-size: 1.4rem;
        font-weight: lighter;
    }
}

@media (min-width:791px) {
    body {
        .banner-home {
            position: relative;
        }
        header {
            display: block;
            width: 98%;
            height: 7vh;
            position: absolute;
            top: 0;
            left: 50%;
            transform: (translate(-50%));
            .box-menu {
                display: none;
            }
            .box-menu-desktop {
                @include displayFlex();
                width: inherit;
                height: inherit;
                position: absolute;
                // background-color: #369E1E;
                top: 0;
                left: 50%;
                transform: (translate(-50%));
                overflow: hidden;
                .box-menu-desktop-logo {
                    width: 15%;
                    height: inherit;
                    float: left;
                    // background-color: red;
                    margin-left: 0;
                    img {
                        margin-top: 15px;
                        width: 7rem;
                    }
                }
                .menu-desktop {
                    width: fit-content;
                    height: inherit;
                    // background-color: pink;
                    margin-left: 0;
                    margin-top: 40px;
                    nav {
                        ul {
                            padding-left: 0;
                            li {
                                display: inline-block;
                                a {
                                    font-family: $font-padrao;
                                    font-size: .8rem;
                                    text-decoration: none;
                                    color: #fff;
                                    text-transform: uppercase;
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }
                .box-menu-desktop-btn {
                    width: 30%;
                    @include displayFlex();
                    margin-right: 0;
                    button {
                        @include btn();
                        justify-content: space-between;
                        width: 48%;
                        outline: none;
                        padding: 7px 10px;
                        font-size: .6rem;
                        font-family: $font-padrao;
                        font-weight: 500;
                        background-color: #fff;
                        color: #000;
                        margin-right: 5px;
                    }
                     :last-child {
                        // padding: 7px 22px;
                        background-color: $cor-padrao;
                        color: #fff;
                        float: right;
                        // margin-right: 25px;
                    }
                }
            }
        }
    }
    main {
        .container {
            .box-legenda {
                ul {
                    li {
                        width: fit-content;
                        display: inline-block;
                        padding-right: 35px;
                    }
                }
            }
        }
        .box-abra-sua-conta {
            display: none;
        }
    }
}

@media (min-width:950px) {
    body {
        header {
            .box-menu-desktop {
                .box-menu-desktop-logo {
                    width: 15%;
                    height: inherit;
                    float: left;
                    // background-color: red;
                    margin-left: 0;
                    img {
                        margin-top: 12px;
                        width: 8.5rem;
                    }
                }
                .menu-desktop {
                    width: fit-content;
                    height: inherit;
                    // background-color: pink;
                    margin-left: 0;
                    margin-top: 40px;
                    nav {
                        ul {
                            padding-left: 0;
                            li {
                                display: inline-block;
                                a {
                                    font-size: .9rem;
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }
                .box-menu-desktop-btn {
                    width: 300px;
                    // background-color: red;
                    padding-right: 4px;
                    justify-content: space-between;
                    button {
                        @include btn();
                        width: fit-content;
                        padding: 10px 20px;
                        margin-right: 5px;
                        color: #000;
                        font-size: .7rem;
                    }
                     :last-child {
                        padding: 10px 35px;
                    }
                }
            }
        }
    }
}

@media (min-width:1200px) {
    body {
        header {
            .box-menu-desktop {
                width: 1200px;
            }
        }
        main {
            .container {
                .row {
                    .box-body-right-side {
                        width: 300px;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}