                @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
                @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');
                * {
                    margin: 0 auto;
                    padding: 0;
                    list-style-type: none;
                    text-decoration: none;
                }
                
                $font-padrao: 'Roboto',
                serif;
                $font-titulo:'Roboto Slab',
                serif;
                $cor-padrao: #369E1E;
                $cor-fonte:#333;
                $cor-secundaria: #fff;
                $cor-terciaria:#F7F8FA;
                $cor-destaque:#25B7BA;
                // cores termina aqui
                //
                //
                @mixin displayFlex() {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                @mixin btn {
                    border: 1px solid $cor-secundaria;
                    border-radius: 4px;
                    color: $cor-secundaria;
                    text-transform: uppercase;
                }
                
                body {
                    background-color: #F7F8FA;
                    .banner-home {
                        width: 100wh;
                        height: 20.3rem;
                        background-image: url("../assets/img/banner.png");
                        background-position: center;
                        padding: 20px;
                        position: relative;
                        h1 {
                            color: $cor-secundaria;
                            font-family: $font-titulo;
                            text-align: center;
                            text-transform: uppercase;
                            font-size: 2rem;
                            font-weight: 400;
                            margin-top: 80px;
                        }
                        p {
                            font-family: $font-padrao;
                            color: $cor-secundaria;
                            font-size: 1.3rem;
                            text-align: center;
                            margin-top: 25px;
                            font-weight: 400;
                        }
                    }
                    .navbar {
                        width: 100%;
                        height: 60px;
                        background-color: $cor-padrao;
                        position: absolute;
                        top: 0;
                        z-index: 10000;
                        overflow: hidden;
                        display: block;
                        .box-nav-bar {
                            width: fit-content;
                            height: inherit;
                            margin-top: 2px;
                            float: left;
                            margin-right: 10px;
                            .icone-nav-bar {
                                margin-left: 0;
                                font-size: 1.3rem;
                                background: none;
                            }
                            .nav-menu {
                                background-color: $cor-secundaria;
                                width: 100%;
                                height: 100vh;
                                display: flex;
                                justify-content: center;
                                position: fixed;
                                top: 60px;
                                left: -100%;
                                transition: 350ms;
                                z-index: 100;
                                .nav-menu-items {
                                    width: 100%;
                                }
                                .nav-menu-button {
                                    @include displayFlex();
                                    position: absolute;
                                    bottom: 70px;
                                    width: 100%;
                                    height: fit-content;
                                    button {
                                        @include btn;
                                        outline: none;
                                        padding: 15px 0;
                                        display: block;
                                        width: 450%;
                                        text-transform: uppercase;
                                        font-weight: 500;
                                        background-color: #fcfcfc;
                                        color: #333;
                                        box-shadow: 2px 2px 15px rgb(238, 236, 236);
                                        font-size: .75rem;
                                    }
                                    .btn-lateral-style {
                                        background-color: #7CC33E;
                                        color: $cor-secundaria;
                                    }
                                }
                            }
                            .active {
                                left: 0;
                                transition: 250ms;
                            }
                            .nav-text {
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                padding: 8px 0px 8px 16px;
                                list-style: none;
                                height: 40px;
                                a {
                                    color: $cor-fonte;
                                    font-family: $font-padrao;
                                    font-size: .8rem;
                                    width: 95%;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    border-radius: 4px;
                                    text-transform: uppercase;
                                    text-decoration: none;
                                }
                            }
                        }
                        .nav-icon-logo {
                            width: 44%;
                            height: inherit;
                            float: left;
                            overflow: hidden;
                            margin-bottom: 6px;
                            img {
                                width: 7.5rem;
                                object-fit: contain;
                                margin-top: 5px;
                                z-index: 10;
                            }
                        }
                        .nav-button {
                            width: 125px;
                            height: inherit;
                            float: right;
                            z-index: 5;
                            button {
                                @include btn();
                                width: 100%;
                                outline: none;
                                float: right;
                                outline: none;
                                padding: 8px 10px;
                                font-size: .75rem;
                                font-family: $font-padrao;
                                font-weight: 500;
                                background-color: $cor-padrao;
                                margin-top: 3px;
                            }
                        }
                    }
                    .box-legenda {
                        width: inherit;
                        height: 300px;
                        h6 {
                            text-transform: uppercase;
                            padding-top: 55px;
                            font-size: .8rem;
                            font-weight: bold;
                        }
                        ul {
                            padding-left: 0;
                            width: 100%;
                            li {
                                .icone-star {
                                    font-size: 1.2rem;
                                    float: left;
                                    padding-top: 3px;
                                    padding-right: 8px;
                                    color: $cor-padrao;
                                }
                                .icone-info {
                                    font-size: 1.2rem;
                                    float: left;
                                    padding-top: 3px;
                                    padding-right: 8px;
                                    color: $cor-padrao;
                                    border: 1px solid #fff
                                }
                                p {
                                    font-size: .8rem;
                                }
                            }
                        }
                    }
                    .container {
                        margin-bottom: 100px;
                        .box-legenda {
                            width: inherit;
                            height: 280px;
                            h6 {
                                text-transform: uppercase;
                                padding-top: 55px;
                                font-size: .8rem;
                                font-weight: bold;
                            }
                            ul {
                                padding-left: 0;
                                width: 100%;
                                li {
                                    height: 30px;
                                    .icon-legenda {
                                        font-size: 1.6rem;
                                        float: left;
                                        padding-right: 8px;
                                    }
                                    .icon-legenda-star {
                                        color: $cor-padrao;
                                    }
                                    .icon-legenda-aplicar {
                                        color: $cor-destaque;
                                    }
                                    .icon-legenda-globe {
                                        font-size: 1.5rem;
                                        color: $cor-padrao;
                                        margin-left: 2px;
                                    }
                                    p {
                                        font-size: .8rem;
                                        color: $cor-fonte;
                                    }
                                }
                            }
                        }
                        .box-busca {
                            @include displayFlex();
                            width: 100%;
                            height: 100px;
                            background-color: #fff;
                            border-radius: 5px;
                            flex-direction: column;
                            #buscaFundo {
                                cursor: pointer;
                                width: 92%;
                                border-top-style: hidden;
                                border-right-style: hidden;
                                border-left-style: hidden;
                                border-bottom: 1px solid #333;
                                position: relative;
                                outline: none;
                            }
                            #buscaFundo:focus {
                                outline: none;
                                border-bottom: 2.5px solid $cor-destaque;
                            }
                            label {
                                display: block;
                                width: 100%;
                                font-size: .7rem;
                                padding-left: 15px;
                                padding-top: 8px;
                            }
                        }
                        .box-info-fundos {
                            background-color: $cor-secundaria;
                            overflow: hidden;
                            margin-top: 20px;
                            background-color: #F7F8FA;
                            a {
                                cursor: pointer;
                                float: left;
                                display: block;
                                color: #000;
                                text-align: center;
                                font-family: $font-padrao;
                                text-transform: uppercase;
                                padding: 14px 16px;
                                text-decoration: none;
                                font-size: .8rem;
                            }
                        }
                    }
                    .box-abra-sua-conta {
                        width: 100%;
                        height: 45px;
                        position: fixed;
                        bottom: 0;
                        background-color: $cor-padrao;
                        text-align: center;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: bold;
                         :first-child {
                            font-size: .8rem;
                            margin-bottom: 0;
                            padding-top: 5px;
                        }
                         :last-child {
                            font-size: .7rem;
                        }
                    }
                }
                
                @media (min-width:320px) {
                    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
                }
                
                @media (min-width:430px) {
                    /* smartphones, Android phones, landscape iPhone */
                    body {
                        .navbar {
                            .box-nav-bar {
                                width: 5%;
                            }
                            .nav-icon-logo {
                                width: fit-content;
                                margin-left: 0;
                                img {
                                    width: 11rem;
                                    margin-top: 0;
                                }
                            }
                            .nav-button {
                                width: 150px;
                                margin-right: 0;
                                button {
                                    padding: 9px 15px;
                                    margin-top: 5px;
                                    margin-right: 0;
                                    float: right;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
                
                @media (min-width:482px) {
                    body .banner-home h1 {
                        font-size: 3rem;
                    }
                    body .banner-home p {
                        font-size: 1.4rem;
                        font-weight: lighter;
                    }
                }
                
                // @media (min-width:600px) {
                //     body {
                //         .navbar {
                //             .nav-icon-logo {
                //                 width: 90%;
                //                 margin-left: 0;
                //                 background-color: red;
                //                 img {
                //                     width: 11rem;
                //                     margin-top: 0;
                //                 }
                //             }
                // //         }
                // //     }
                // // }
                @media (min-width:791px) {
                    body {
                        .box-abra-sua-conta {
                            display: none;
                        }
                    }
                }