@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #F7F8FA;
}

body .banner-home {
  width: 100vw;
  height: 20.3rem;
  background-image: url("../assets/img/banner.png");
  background-position: center;
  padding: 20px;
  position: relative;
}

body .banner-home h1 {
  color: #fff;
  font-family: "Roboto Slab", serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 80px;
}

body .banner-home p {
  font-family: "Roboto", serif;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 25px;
  font-weight: 400;
}

body .box-menu-desktop {
  display: none;
}

body .navbar {
  width: 100%;
  height: 60px;
  background-color: #369E1E;
  position: absolute;
  top: 0;
  z-index: 10000;
  overflow: hidden;
  display: block;
}

body .navbar .box-nav-bar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: inherit;
  margin-top: 2px;
  float: left;
  margin-right: 10px;
}

body .navbar .box-nav-bar .icone-nav-bar {
  margin-left: 0;
  font-size: 1.3rem;
  background: none;
}

body .navbar .box-nav-bar .nav-menu {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 60px;
  left: -100%;
  -webkit-transition: 350ms;
  transition: 350ms;
  z-index: 100;
}

body .navbar .box-nav-bar .nav-menu .nav-menu-items {
  width: 100%;
}

body .navbar .box-nav-bar .nav-menu .nav-menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 70px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .navbar .box-nav-bar .nav-menu .nav-menu-button button {
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  padding: 15px 0;
  display: block;
  width: 450%;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #fcfcfc;
  color: #333;
  -webkit-box-shadow: 2px 2px 15px #eeecec;
          box-shadow: 2px 2px 15px #eeecec;
  font-size: .75rem;
}

body .navbar .box-nav-bar .nav-menu .nav-menu-button .btn-lateral-style {
  background-color: #7CC33E;
  color: #fff;
}

body .navbar .box-nav-bar .active {
  left: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
}

body .navbar .box-nav-bar .nav-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 40px;
}

body .navbar .box-nav-bar .nav-text a {
  color: #333;
  font-family: "Roboto", serif;
  font-size: .8rem;
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

body .navbar .nav-icon-logo {
  width: 44%;
  height: inherit;
  float: left;
  overflow: hidden;
  margin-bottom: 6px;
}

body .navbar .nav-icon-logo img {
  width: 7.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 5px;
  z-index: 10;
}

body .navbar .nav-button {
  width: 125px;
  height: inherit;
  float: right;
  z-index: 5;
}

body .navbar .nav-button button {
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  outline: none;
  float: right;
  outline: none;
  padding: 12px 10px;
  font-size: .75rem;
  font-family: "Roboto", serif;
  font-weight: 500;
  background-color: #369E1E;
  margin-top: 3px;
}

body .container {
  margin-bottom: 100px;
}

body .container .box-legenda {
  width: 90%;
  height: 280px;
}

body .container .box-legenda h6 {
  text-transform: uppercase;
  padding-top: 55px;
  font-size: .8rem;
  font-weight: bold;
}

body .container .box-legenda ul {
  padding-left: 0;
  width: 100%;
}

body .container .box-legenda ul li {
  height: 30px;
}

body .container .box-legenda ul li .icon-legenda {
  font-size: 1.6rem;
  float: left;
  padding-right: 8px;
}

body .container .box-legenda ul li .icon-legenda-star {
  color: #369E1E;
}

body .container .box-legenda ul li .icon-legenda-aplicar {
  color: #25B7BA;
}

body .container .box-legenda ul li .icon-legenda-globe {
  font-size: 1.5rem;
  color: #369E1E;
  margin-left: 2px;
}

body .container .box-legenda ul li p {
  font-size: .8rem;
  color: #333;
}

body .container .container-busca .box-busca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

body .container .container-busca .box-busca #buscaFundo {
  cursor: pointer;
  width: 92%;
  border: none;
  border-bottom: 1px solid #333;
  position: relative;
  outline: none;
  background-color: #fff;
  outline: 0;
  margin-top: 20px;
}

body .container .container-busca .box-busca #buscaFundo:focus {
  outline: none;
  border-bottom: 2.5px solid #25B7BA;
}

body .container .container-busca .box-busca label {
  display: block;
  width: 100%;
  font-size: .7rem;
  padding-left: 15px;
  padding-top: 5px;
  margin-left: 20px;
}

body .container .container-busca .label-filtros,
body .container .container-busca .box-filtros {
  display: none;
}

body .container .box-header-fundos-mobile {
  display: none;
}

body .container .box-display-fundos {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #e9e9e9;
}

body .container .box-display-fundos .box-item-fundo {
  font-family: "Roboto", serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

body .container .box-display-fundos .box-item-fundo .wrap-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20px;
}

body .container .box-display-fundos .box-item-fundo .wrap-titulo .titulo-fundo {
  width: 90%;
  font-size: .9rem;
  font-weight: bold;
}

body .container .box-display-fundos .box-item-fundo .wrap-titulo .box-status-fundo {
  display: block;
  width: 10%;
  height: inherit;
}

body .container .box-display-fundos .box-item-fundo .wrap-titulo .box-status-fundo span {
  display: block;
  background-color: red;
  width: 12px;
  height: 12px;
  margin: 0 auto;
  border-radius: 2px;
}

body .container .box-display-fundos .box-item-fundo .subtitulo-fundo {
  font-size: .8rem;
  color: #969696;
  padding-top: 10px;
  font-weight: 500;
}

body .container .box-display-fundos .box-item-fundo .box-item-info-fundos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: .8rem;
  font-weight: bold;
}

body .container .box-display-fundos .box-item-fundo .box-item-info-fundos .right-row {
  width: 70%;
  text-align: left;
}

body .container .box-display-fundos .box-item-fundo .box-item-info-fundos .left-row {
  width: 50%;
  text-align: right;
  font-weight: 400;
}

body .container .box-display-fundos .box-item-fundo .box-info-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

body .container .box-display-fundos .box-item-fundo .box-info-button button {
  width: 47%;
  padding: 11px 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bolder;
  margin-top: 15px;
}

body .container .box-display-fundos .box-item-fundo .box-info-button :first-child {
  color: #25B7BA;
  background-color: #fff;
  border: 1px solid #25B7BA;
}

body .container .box-display-fundos .box-item-fundo .box-info-button :last-child {
  background-color: #25B7BA;
  color: #fff;
  border: 1px solid #25B7BA;
}

body .container .box-items-fundos-mobile {
  display: none;
}

body .box-abra-sua-conta {
  cursor: pointer;
  width: 100%;
  height: 45px;
  position: fixed;
  bottom: 0;
  background-color: #369E1E;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

body .box-abra-sua-conta :first-child {
  font-size: .8rem;
  margin-bottom: 0;
  padding-top: 5px;
}

body .box-abra-sua-conta :last-child {
  font-size: .7rem;
}

body .footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .footer .box-footer {
  width: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 30px;
}

body .footer .box-footer .box-item-footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .footer .box-footer .box-item-footer h6 {
  font-size: .9rem;
  font-weight: bold;
  color: #333;
  margin-top: 25px;
}

body .footer .box-footer .box-item-footer a {
  display: block;
  padding-bottom: 5px;
  font-size: .9rem;
  color: #333;
}

body .footer .box-footer .box-item-footer .style {
  font-weight: bold;
}

body .footer .box-footer .box-item-footer p {
  height: 10px;
  font-size: .9rem;
}

body .footer .box-termos .box-termos-legais {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  margin: 60px 0;
}

body .footer .box-termos .box-termos-legais a {
  color: #333;
}

body .footer .box-termos .box-termos-legais a:after {
  content: " | ";
  color: #333;
}

body .footer .box-img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .footer .box-img .container-footer {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

body .footer .box-img .container-footer .box-img-footer-card {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 25px;
}

body .footer .box-img .container-footer .box-img-footer-card img {
  display: inline-block;
  width: 110px;
}

body .footer .box-img .container-footer .execution {
  margin-top: 20px;
}

body .footer .box-img .container-footer .box-img-footer-eleita {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

body .footer .box-img .container-footer .box-img-footer-eleita p {
  font-weight: bold;
  color: #333;
  font-size: .9rem;
  text-align: left;
}

body .footer .box-img .container-footer .box-img-footer-eleita img {
  width: 85%;
}

body .footer .box-img .box-info-legais {
  width: 100%;
  height: 180px;
  background-color: #9C9D9E;
  margin-top: 200px;
  padding: 0 20px;
}

body .footer .box-img .box-info-legais p {
  color: #fff;
  padding-top: 60px;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media (min-width: 425px) {
  /* smartphones, Android phones, landscape iPhone */
  body .navbar .box-nav-bar {
    width: 5%;
  }
  body .navbar .nav-icon-logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 12px;
  }
  body .navbar .nav-icon-logo img {
    width: 11rem;
    margin-top: -2px;
  }
  body .navbar .nav-button {
    width: 138px;
    margin-right: 0;
  }
  body .navbar .nav-button button {
    padding: 12px 10px;
    margin-right: 0;
    float: right;
    margin-top: 4px;
  }
}

@media (min-width: 482px) {
  body .banner-home h1 {
    font-size: 3rem;
  }
  body .banner-home p {
    font-size: 1.4rem;
    font-weight: lighter;
  }
}

@media (min-width: 600px) {
  body .navbar .nav-icon-logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 0;
  }
  body .navbar .nav-icon-logo img {
    width: 11rem;
    margin-top: -2px;
  }
}

@media (min-width: 770px) {
  body .navbar {
    display: none;
  }
  body .box-menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    overflow: hidden;
  }
  body .box-menu-desktop .box-menu-desktop-logo {
    width: 15%;
    height: inherit;
    float: left;
    margin-left: 0;
  }
  body .box-menu-desktop .box-menu-desktop-logo img {
    margin-top: 15px;
    width: 7rem;
  }
  body .box-menu-desktop .menu-desktop {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: inherit;
    margin-left: 0;
    margin-top: 40px;
  }
  body .box-menu-desktop .menu-desktop nav {
    margin-right: 5px;
  }
  body .box-menu-desktop .menu-desktop nav ul {
    margin-left: 5px;
    padding-left: 0;
  }
  body .box-menu-desktop .menu-desktop nav ul li {
    display: inline-block;
  }
  body .box-menu-desktop .menu-desktop nav ul li a {
    font-family: "Roboto", serif;
    font-size: .8rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding-right: 10px;
  }
  body .box-menu-desktop .box-menu-desktop-btn {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
  body .box-menu-desktop .box-menu-desktop-btn button {
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 48%;
    outline: none;
    padding: 10px 10px;
    font-size: .6rem;
    font-family: "Roboto", serif;
    font-weight: 600;
    background-color: #fff;
    color: #000;
    margin-right: 5px;
  }
  body .box-menu-desktop .box-menu-desktop-btn :last-child {
    background-color: #369E1E;
    color: #fff;
    float: right;
  }
  body .container .box-info-fundos-tabs {
    display: none;
  }
  body .container .box-header-fundos-mobile {
    display: block;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: #fff;
    margin-bottom: 30px;
    border: 1px solid #e9e9e9;
  }
  body .container .box-header-fundos-mobile .row-header .coluna-header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .container .box-header-fundos-mobile .row-header .coluna-header h4 {
    font-family: "Roboto", serif;
    font-size: .7rem;
    font-weight: 500;
    text-align: right;
    margin-top: 40px;
    font-weight: 600;
  }
  body .container .box-header-fundos-mobile .row-header .coluna-header .first-style {
    text-align: left;
  }
  body .container .box-header-fundos-mobile .row-header .coluna-header .style-bottom {
    margin-top: 24px;
    text-align: right;
  }
  body .container .box-display-fundos {
    border: 1px solid #e9e9e9;
    background-color: white;
    margin-left: 0;
    padding-left: 0;
    padding: 0;
  }
  body .container .box-display-fundos .box-item-fundo {
    display: none;
  }
  body .container .box-items-fundos-mobile {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 65px;
    position: relative;
    background-color: #fff;
  }
  body .container .box-items-fundos-mobile .box-status-fundo {
    float: left;
    width: 10px;
    height: 100%;
    background-color: blue;
    position: absolute;
    left: 0;
  }
  body .container .box-items-fundos-mobile .row-header {
    padding-right: 20px;
    padding-left: 16px;
  }
  body .container .box-items-fundos-mobile .row-header .coluna-header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .container .box-items-fundos-mobile .row-header .coluna-header h4,
  body .container .box-items-fundos-mobile .row-header .coluna-header h2 {
    font-family: "Roboto", serif;
    font-size: .6rem;
    font-weight: 500;
    text-align: right;
    margin-top: 5px;
    font-weight: 600;
  }
  body .container .box-items-fundos-mobile .row-header .coluna-header h4 {
    margin-top: 25px;
  }
  body .container .box-items-fundos-mobile .row-header .coluna-header h2 {
    font-size: .6rem;
    text-align: left;
  }
  body .container .box-items-fundos-mobile .row-header .coluna-header .first-style {
    text-align: left;
    margin-top: 7px;
  }
  body .container .box-items-fundos-mobile .box-more-info {
    width: 100%;
    height: 360px;
    cursor: pointer;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container .box-items-fundos-mobile .box-more-info .box-more-info-grafico {
    width: 40%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #fff;
    float: left;
  }
  body .container .box-items-fundos-mobile .box-more-info .box-more-info-detalhes {
    width: 40%;
    height: 360px;
    background-color: #fff;
    float: right;
    position: relative;
    padding-top: 50px;
    margin-left: 120px;
  }
  body .container .box-items-fundos-mobile .box-more-info .box-more-info-detalhes p {
    font-size: .8rem;
    height: 12px;
    font-weight: bold;
  }
  body .container .box-items-fundos-mobile .box-more-info .box-more-info-detalhes .last-p {
    padding-bottom: 40px;
  }
  body .container .box-items-fundos-mobile .box-more-info .box-more-info-detalhes .link {
    font-size: .8rem;
    height: 12px;
    font-weight: bold;
    text-decoration: underline;
    color: black;
  }
  body .container .box-items-fundos-mobile .box-more-info .box-more-info-detalhes .style-bottom {
    position: absolute;
    bottom: 20px;
  }
  .box-abra-sua-conta {
    display: none;
  }
  .footer .box-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 960px) {
  body .box-menu-desktop .box-menu-desktop-logo {
    width: 14%;
    height: inherit;
    float: left;
    margin-left: 0;
  }
  body .box-menu-desktop .box-menu-desktop-logo img {
    margin-top: 5px;
    width: 12rem;
  }
  body .box-menu-desktop .menu-desktop {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: inherit;
    margin-left: 0;
    margin-top: 40px;
  }
  body .box-menu-desktop .menu-desktop nav ul {
    padding-left: 0;
  }
  body .box-menu-desktop .menu-desktop nav ul li {
    display: inline-block;
  }
  body .box-menu-desktop .menu-desktop nav ul li a {
    font-size: .9rem;
    padding-right: 20px;
  }
  body .box-menu-desktop .box-menu-desktop-btn {
    width: 300px;
    padding-right: 4px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 30px;
  }
  body .box-menu-desktop .box-menu-desktop-btn button {
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 12px 20px;
    color: #000;
    font-size: .7rem;
  }
  body .box-menu-desktop .box-menu-desktop-btn :last-child {
    padding: 13px 35px;
  }
  body .container .box-legenda {
    display: none;
  }
  body .container .container-busca {
    width: 100%;
    background-color: #fff;
    margin-top: 40px;
    height: 280px;
    padding: 10px 0px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid #e9e9e9;
  }
  body .container .container-busca .box-busca {
    display: block;
    margin-top: 5px;
    margin: 0 auto;
  }
  body .container .container-busca .box-busca #buscaFundo {
    cursor: pointer;
    width: 50%;
    margin-top: 10px;
    float: left;
    margin-left: 28px;
  }
  body .container .container-busca .box-busca label {
    opacity: 0;
  }
  body .container .container-busca .box-busca .box-filtros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
    height: 150px;
    padding: 10px 20px;
    background-color: #fafafa;
    margin: 0 auto;
  }
  body .container .container-busca .box-busca .box-filtros .item-filtro {
    width: 30%;
  }
  body .container .container-busca .box-busca .box-filtros .item-filtro p {
    display: block;
    text-align: left;
    font-family: "Roboto", serif;
    font-weight: 500;
    margin-bottom: 30px;
    font-size: .9rem;
    margin-top: 10px;
  }
  body .container .container-busca .box-busca .box-filtros .item-filtro label {
    display: block;
    opacity: 1;
    font-size: .9rem;
    float: left;
    font-family: "Roboto", serif;
    color: #686767;
    font-weight: 500;
  }
  body .container .container-busca .box-busca .box-filtros .item-filtro input {
    margin-bottom: 20px;
  }
  body .container .container-busca .box-busca .box-filtros .item-filtro .range-img {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url("../assets/img/range-icon.png");
    cursor: pointer;
  }
  body .container .container-busca .box-busca .box-filtros .item-filtro .range-img {
    width: 23px;
    height: 25px;
    border: 0;
    background: url("../assets/img/range-icon.png");
    cursor: pointer;
  }
  body .container .container-busca .box-busca .label-filtros {
    display: inline-block;
    margin-left: 28px;
    margin-top: 15px;
    font-size: .8rem;
    color: #979797;
  }
  body .container .box-header-fundos-mobile .row-header .coluna-header h4 {
    font-size: .8rem;
  }
  body .container .box-header-fundos-mobile .row-header .coluna-header .first-style {
    text-align: left;
  }
  body .container .box-header-fundos-mobile .row-header .coluna-header .style-bottom {
    margin-top: 24px;
    text-align: right;
  }
  body .container .box-display-fundos .box-item-fundo {
    display: none;
  }
  body .container .box-items-fundos-mobile .row-header .coluna-header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .container .box-items-fundos-mobile .row-header .coluna-header h4,
  body .container .box-items-fundos-mobile .row-header .coluna-header h2 {
    font-size: .8rem;
  }
  body .container .box-items-fundos-mobile .row-header .coluna-header h4 {
    margin-top: 25px;
  }
  body .container .box-items-fundos-mobile .row-header .coluna-header h2 {
    font-size: .6rem;
    text-align: left;
  }
  body .container .box-items-fundos-mobile .row-header .coluna-header .first-style {
    text-align: left;
    margin-top: 6px;
  }
}

@media (min-width: 992px) {
  body .container .box-header-fundos-mobile .row-header .coluna-header h4 {
    font-size: .8rem;
  }
  body .container .box-header-fundos-mobile .row-header .coluna-header .first-style {
    text-align: left;
  }
  body .container .box-header-fundos-mobile .row-header .coluna-header .style-bottom {
    margin-top: 40px;
    text-align: right;
  }
  body .container .box-header-fundos-mobile .row-header .coluna-header .style-top {
    margin-top: 24px;
  }
  body .container .box-display-fundos .box-item-fundo {
    display: none;
  }
  body .container .box-items-fundos-mobile .row-header .coluna-header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .container .box-items-fundos-mobile .row-header .coluna-header h4,
  body .container .box-items-fundos-mobile .row-header .coluna-header h2 {
    font-size: .8rem;
  }
  body .container .box-items-fundos-mobile .row-header .coluna-header h4 {
    margin-top: 25px;
  }
  body .container .box-items-fundos-mobile .row-header .coluna-header .first-style {
    text-align: left;
    margin-top: 13px;
  }
  body .footer {
    width: 992px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  body .container .box-header-fundos-mobile .row-header .coluna-header h4 {
    font-size: .9rem;
  }
  body .container .box-header-fundos-mobile .row-header .coluna-header .first-style {
    text-align: left;
  }
  body .container .box-header-fundos-mobile .row-header .coluna-header .style-bottom {
    margin-top: 40px;
    text-align: right;
  }
  body .container .box-header-fundos-mobile .row-header .coluna-header .style-top {
    margin-top: 24px;
  }
  body .container .box-display-fundos .box-item-fundo {
    display: none;
  }
  body .box-items-fundos-mobile .row-header .coluna-header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .box-items-fundos-mobile .row-header .coluna-header h4,
  body .box-items-fundos-mobile .row-header .coluna-header h2 {
    font-size: .8rem;
  }
  body .box-items-fundos-mobile .row-header .coluna-header h4 {
    margin-top: 25px;
  }
  body .box-items-fundos-mobile .row-header .coluna-header .first-style {
    text-align: left;
    margin-top: 13px;
  }
  body .footer {
    width: 1150px;
    margin: 0 auto;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
/*# sourceMappingURL=index.css.map */